<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends "base.html" %}

    {% block content %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <form action="{%url 'create_invoice' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">Invoice date</label>
                    <input type="date" class="form-label;" name="invoice_date" id="invoicedate">
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
                    <label class="form-label">Invoice number</label>
                    <input type="text" class="form-label;" name="invoice_number" id="invoicenumber">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label">Customer name</label>
                    <input type="text" class="form-label;" name="customer_number" id="cust_num">
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
                    <label class="form-label">Due date</label>
                    <input type="text" class="form-label;" name="due_date" id="due_date">
                </div>
            </div>
        </div>

        <input type="text" hidden name="count" id="count" value="1">
        <button type="button" class="btn btn-primary" onclick="addrow()" style="margin-top: 2%;margin-bottom: 2%;">Click
            here to add row</button>

        <button type="button" class="btn btn-primary" onclick="deleteRow()"
            style="margin-top: 2%;margin-bottom: 2%;">Click here to delete row</button>


        <button type="submit" class="btn btn-primary">Print Invoice</button>

        <table class="table table-bordered border-primary" id="invoicerow">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product name</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>

            <tbody id="tbody">
                <tr id="addTheRows">
                    <th scope="row">1</th>
                    <td><input type="text" class="form-control" id="product_name1" name="product_name1" required></td>
                    <td><input type="number" class="form-control" id="qty1" name="qty1" required></td>
                    <td><input type="number" class="form-control" id="rate1" name="rate1" required></td>
                    <td><input type="number" class="form-control" id="total1" name="total1" required></td>
                </tr>
            </tbody>
        </table>


    </form>

    <script>
        let c = 1;

        const tbody = document.querySelector('tbody')

        function addrow() {
            if(c<0){c = 0; c++}
            c++
            const addTheRows = document.querySelector('#addTheRows')
            // console.log(addTheRows)
            // const tbody = document.querySelector('tbody')
            // console.log(tbody)
            const element = document.createElement('tr')
            element.id = `row-${c}`
            // console.log(element)
            element.innerHTML =
                `
                <th scope="row">${c}</th>
                <tr><td><input type="text" class="form-control" id="product_name${c}" name="product_name${c}" required></td></tr>
                <td><input type="number" class="form-control" id="qty${c}" name="qty${c}" required></td>
                <td><input type="number" class="form-control" id="rate${c}" name="rate${c}" required></td>
                <td><input type="number" class="form-control" id="total${c}" name="total${c}" required></td>
                `
            tbody.appendChild(element)

        }

        // console.log(c)

        // let d = c;

        function deleteRow() {

            if(c>1){document.querySelector(`#row-${c}`).remove();c--;}
            else{c = 0; c++}

            // const itemRemove = tbody.removeChild;
            // console.log(itemRemove)
            // itemRemove.style.display = 'none';
            // const item = document.querySelector(`#row-${c}`)
            
            // console.log(item)
            // item.style.display = 'none'
            // c--;
            // tbody.lastElementChild.remove()
            
            // try {
            //     document.querySelector(`tr:nth-child(${c})`).remove()
            //     // c ++;
                
            // } catch (TypeError) {
            //     c--;
            //     document.querySelector(`tr:nth-child(${c})`).remove()
                
            // }

            // try {
            //     document.querySelector(`#row-${c}`).remove()
            //     // c ++;
            //     c--;
                
            // } catch (error) {
            //     // console.log(error)
            //     // c--;
            //     // document.querySelector(`#row-${c}`).remove()
            //     // console.log('catch case')
                
            // }

            
            
            // c ++;

        }


    </script>

    {% endblock content %}
</body>

</html>